<a href="https://colab.research.google.com/github/dalatorrem/FundEstadisticaMaestria/blob/main/Copia_de_Lectura_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![identificadores_centrados_en_ti_logo-h.png]()

---
#Lectura 2 : Tipos de datos en Python
---

---
## Introducción
---

Vamos a crear el popular programa "Hola mundo", el cual realiza la tarea más básica: imprimir en resultado de texto.

Adicionalmente, hablaremos de errores, tipos de datos, listas, diccionarios.

## Bloques de código

En su forma más básica, todo el código se compone de cuatro cosas: **valores**, **variables**, **operadores** y **funciones**. Cada pieza de software en la historia se compone de combinaciones de estos cuatro conceptos.

### Valores y variables

**Valores:** Simplemente un dato con el cual buscamos hacer algo. El número $30$ es un valor. Hay valores de muchos tipos, los de nuestro uso más frecuente serán los números y las cadenas o `strings`. El texto "El lenguaje Python presente y futuro" es una cadena o `strings`.

In [ ]:
## String
"450"

'450'

In [ ]:
"hola a todos"

'hola a todos'

In [ ]:
"El lenguaje Python presente y futuro"

'El lenguaje Python presente y futuro'

In [ ]:
## Número
30

30

**Variables**: Es un almacenador que puede guardar información, entendia la misma desde un número, pasando por  `strings`, modelos y demás. Esto se puede utilizar para hacer uso de dicho objeto más adelante. Diremos que en este caso hemos asignado "algo" a una variables.

La sintaxis de asignación es tan sencillo como: nombre a la izquiera, seguido de **=** y finalmente lo que asignará

In [ ]:
## Asignamos a la variable valor, el número 30.
valor = 30

In [ ]:
## Obtenemos el resultado de la variable con solo colocar y nombre y ejecutar.
valor + 60

90

### Funciones y operadores

**Funciones** Código que toma una o múltiples entradas y realiza "algo" con ella o ellas.

Una función tiene dos componentes:
  su *nombre* y sus *entradas*

1.   `nombre`
2.   `entradas o parámetros`

Generalmente se nombran comenzando con una letra minúscula. Algunos ejemplos de uso común en nuestro curso: `print()`, `type()` y `len()`.

Si queremos que por ejemplo a sea visible una variable podemos usar **`print()`**. Esta función toma cualquier cosa imaginable en este y muestra que hay allí.

In [ ]:
## Imprimimos la varible valor y un texto.
print(valor)
print("Madrugar es una tarea difícil!!!")

30
Madrugar es una tarea difícil!!!

**Nota:**

`print()` debe ser de uso frecuente, es bueno tomar el hábito de imprimir resultados intermedios y finales, buscando verificar que todo vaya marchando de la manera deseada. Solucionar problemas con su programa se llama **depuración**, y muchas veces la función `print()` es su herramienta principal para depurar rápidamente problemas simples y hasta complejos.

La función `input()`permite que el código solicite una entrada a un usuario, lo cual genera dinamismo.

In [ ]:
## Solicitamos información y se almacena en las variables a,b,c
a = input("¿Cuál es tu nombre?")
b = input("¿A qué te dedicas?")
c = input("¿Proporciona una cualidad tuya?")

print("----------------")
## Imprimimos la información
print(a)
print("se dedica a: ")
print(b)
print("se cataloga como:")
print(c)

¿Cuál es tu nombre?Andres Campos
¿A qué te dedicas?Docente
¿Proporciona una cualidad tuya?NONE
----------------
Andres Campos
se dedica a:
Docente
se cataloga como:
NONE

**Operadores**.

Formas de lograr que los valores y las variables interactúen entre sí. Entre los más comunes están **operadores matemáticos**, como la suma, la multiplicación y la resta, pero hay muchos otros.

In [ ]:
a = 7
b = 5

c = a*2 ## Multiplicación
d = a/2 ## División
e = a+b ## Suma
f = a**3 ## potenciación

print(c)
print(d)
print(e)
print(f)

14
3.5
12
343

Para el caso de los `strings` es posible también realizar la suma, siendo esta una simple contatenación de cadenas.

In [ ]:
texto = 'Primera parte del texto '
mas_texto = 'de la oración completa.'
texto_completo = texto + mas_texto
texto_alreves = mas_texto + texto
print(texto_completo)
print(texto_alreves)

Primera parte del texto de la oración completa.
de la oración completa.Primera parte del texto

Podemos sobreescribir en las variables. En adelante la variable será su última asignación.

In [ ]:
print(valor)

valor = 2.1548
print(valor)

valor = "Este es el número 2.1548"
print(valor)

30
2.1548
Este es el número 2.1548

In [ ]:
valor

'Este es el número 2.1548'

**Nota:**

Python es sensible a las letras mayúsculas y minúsculas.

In [ ]:
Unavariable = "Varible con un valor,"
unaVariable = "esta variable tiene otro valor"
UnaVariable = 30

In [ ]:
print(Unavariable)
print(unaVariable)
print(UnaVariable)

Varible con un valor,
esta variable tiene otro valor
30

In [ ]:
## Múltiples prints
print(Unavariable, unaVariable, UnaVariable)

Varible con un valor, esta variable tiene otro valor 30

In [ ]:
producto = 50*45
print(f'Hola a todos {producto} -----> {unaVariable}')

Hola a todos 2250 -----> esta variable tiene otro valor

In [ ]:
print('Hola a todos', unaVariable, UnaVariable)

Hola a todos esta variable tiene otro valor 30

In [ ]:
print('Hola a todos {}'.format(UnaVariable))

Hola a todos 30

## Tipos de datos

Entremos en algunos de los detalles de cómo Python interpreta lo que se pide realizar.

In [ ]:
print(a)
print(mas_texto)
##
prueba = a + mas_texto
print(prueba)

7
de la oración completa.

TypeError: ignored

El error muestra que el operador `+` no funciona entre `strings` y números. En Python cada valor y variable tiene un **tipo**. Este describe lo que se puede y no se puede hacer con un dato en particular y lo que representan esos datos.

La función **`type()`** toma como entrada cualquier valor o variable e imprime su tipo.

### `int`

`int` se utiliza para representar a los números enteros:  4, -56, 1793, -96954, es decir, valores sin decimales.

In [ ]:
a = 4568955122
print(type(a))
b = -58
print(type(b))

<class 'int'>
<class 'int'>

In [ ]:
type(a)

int

### `float`

En caso de necesitar decimales, hacemos uso del tipo de datos **`float`**. `float` puede representar números con hasta 16 dígitos de precisión (esto se llama "doble precisión").
Ejemplos de `float`: -3.1416, 7/9, 24589.1245, o cualquiera con decimales.

In [ ]:
c = -65.452
tipo_c = type(c)
print(tipo_c)

d = 1/6
tipo_d = type(d)
print(tipo_d)

<class 'float'>
<class 'float'>

### `str`

**`str`** representa `cadenas`, es decir son **listas ordenadas de caracteres**, o valores de texto. Las cadenas tienen su propio conjunto de operadores y funciones integradas en Python. Sabemos como unirlos o contenarlos con el operador `+`:

### `bool`

**`bool`** representa los valores lógicos `True` y `False`, sin tomar ningún otro valor.

In [ ]:
variable_boolenana = True
otra_variable_booleana = False
print(type(variable_boolenana))
print(type(otra_variable_booleana))

<class 'bool'>
<class 'bool'>

### Combinar y transformar tipos de datos

No podemos adicionar `strings` con `bool`, `int` ni `float`. Pero podemos imprimirlos juntos en una línea. Aquí las formas más comunmente utilizadas.

In [ ]:
a = 10
b = 5
print('El resultado de', a, 'dividido por', b, 'es igual a:', a/b)

El resultado de 10 dividido por 5 es igual a: 2.0

In [ ]:
a = 10
b = 5
print(f'El resultado de {a} dividido por {b} es igual a: {a/b}')

El resultado de 10 dividido por 5 es igual a: 2.0

In [ ]:
a = 10
b = 5
print('El resultado de {} dividido por {} es igual a: {}'.format(a, b, a/b))

El resultado de 10 dividido por 5 es igual a: 2.0

Otra opción es transformar los números en `strings` y luego adicionarlos. Para transformar un número en un `string`, debemos usar la función `str()`, que toma como entrada un valor o variable que no es un `string`, y vuelve uno.

In [ ]:
10/2

5.0

In [ ]:
int(10/2)

5

In [ ]:
type(int(10/2))

int

In [ ]:
a = 10
b = 5
string_a = str(a)
string_b = str(b)

print(string_a)
print(string_b)
print(type(string_a))
print(type(string_b))
print('El resultado de '+ string_a + ' dividido por ' + string_b + ' es igual a: ' + str(a/b))

10
5
<class 'str'>
<class 'str'>
El resultado de 10 dividido por 5 es igual a: 2.0

Es posible transformar números en cadenas, pero también puede transformar `strings` con números en un tipo de datos numéricos para operar con ellos. Para ello tenemos: `int()`, que tiene como parámetro un `string` que contiene un número y devuelve un `int`, y la función `float() `, que hace lo mismo pero devuelve un `float`.

In [ ]:
a = '5'
b = '12.57'

int_a = int(a)
float_b = float(b)

print("El producto de a y b es igual a", int_a*float_b)

El producto de a y b es igual a 62.85

---
## Tipos de datos compuestos
---

Hay otro tipo importante de tipo de datos llamados: **tipos compuestos**. Estos son tipos de datos que combinan varios valores en una sola variable.

Al igual que con los tipos de datos básicos, existen varios tipos de tipos compuestos. Los dos más comunes son la **lista** y el **diccionario**. Para este caso, revisaremos las listas y cómo funcionan en Python.

In [ ]:
[1,2,3,4,5,6]

[1, 2, 3, 4, 5, 6]

In [ ]:
mi_lista = [1, 2, 3, 4, 5, 6]
print(mi_lista)
print(type(mi_lista))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [ ]:
mi_lista.append("sdgjkjkfdghjkfh")

In [ ]:
mi_lista

[1, 2, 3, 4, 5, 6, 'sdgjkjkfdghjkfh']

In [ ]:
list_num = [x for x in range(20)]; list_num

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
13%2

1

In [ ]:
pares = []

for num in list_num:
    if num%2 == 0:
        pares.append(num)

pares

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
pares1 = [num for num in list_num if num%2 == 0]
print(pares1)
pares1.reverse()
print(pares1)
pares1[]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

[18, 16, 14, 12, 10]

In [ ]:
num_mayores_diez = [num for num in range(20) if num >10]
num_mayores_diez

[11, 12, 13, 14, 15, 16, 17, 18, 19]

Las listas pueden contener cualquier valor y ellos pueden ser de cualquier tipo. Se considera de mala forma mezclar más de un tipo de datos en una sola lista.

In [ ]:
otra_lista = [True, 'two', 3.54,  4]
print(otra_lista)

[True, 'two', 3.54, 4]

In [ ]:
print(type(mi_lista))

<class 'list'>

In [ ]:
for i in otra_lista:
    print(i)
    print("--"*10)

True
--------------------
two
--------------------
3.54
--------------------
4
--------------------

---
## Conclusión
---

Es esta lectura se aprendió sobre los cuatro componentes básicos de Python. Un par de las reglas de sintaxis más importantes en Python, los tipos de datos más comunes en Python y cómo transformar un tipo de datos en otro.

Se finaliza aprendiendo sobre listas (un tipo de datos compuestos).